* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; */
}

body {
    background-color: #ede7f6;
    letter-spacing: .2px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

header {
    background-color: #1a237e;
    box-shadow: 0px 0px 10px 0px #ccc;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    padding-left: 1.5rem;
    padding-right: 1.5em;
    height: 4em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
}

.site-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4em;
}

.site-name img {
    height: 40px;
    width: 40px;
}

.site-name span {
    font-size: 1.5rem;
}





/* Media Queries */
@media(max-width: 600px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 3.5em;
    }

    nav a {
        font-size: .8rem;
    }

    .site-name span {
        font-size: 1.2rem;
    }
}